<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=&quot;C:\Users\Student\Documents\Visual Studio 2012\Projects\midtermProjectWebProgrammingAPlus\midtermProjectWebProgrammingAPlus\Properties\midtermWebProgramming.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>
  <system.web>
    <pages enableSessionState="true" />
  </system.web>
</configuration>
